@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  font-family: 'Fredoka One', cursive;
}
a{
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  background-color: #f3f2ef;
  /*height: 3000px;*/
}